.footer {
  background-color: #fbf8be;
  color: #234E70;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-about {
  flex: 1 1 30%;
}

.footer-about .about-us {
  margin-bottom: 20px;
}

.footer-about .footer-social {
  display: flex;
}

.footer-about .footer-social a {
  margin-right: 10px;
  color: #234E70;
  font-size: 20px;
}

.footer-links {
  margin-left: 90px;
  flex: 1 1 30%;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  color: #234E70;
  text-decoration: none;
}

.footer-contact {
  flex: 1 1 30%;
}

.map-container {
  margin-top: 20px;
}

.map-container iframe {
  width: 100%;
}

.copyright {
  text-align: center;
  margin-top: 20px;
}

.copyright p {
  color: #234E70;
  font-size: 14px;
}
