/* Footer Container */
.footer {
    background-color: #234E70;
    color: #FBF8BE;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Address */
  .footer-address p {
    margin: 5px 0;
  }
  
  /* Social Icons */
  .footer-social a {
    color: #FBF8BE;
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
  }
  
  .footer-social a:hover {
    color: #00aced; /* Change color on hover */
  }
  
  /* Copyright */
  .copyright {
    text-align: center;
    margin-top: 20px;
  }
  