.footer {
  background-color: #234E70;
  color: #FBF8BE;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-address,
.footer-links,
.footer-social {
  margin-bottom: 20px;
}

.footer-address p {
  margin: 5px 0;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 5px;
}

.footer-links ul li a {
  color: #FBF8BE;
  text-decoration: none;
}

.footer-social a {
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

.map-container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.map-container iframe {
  width: 100%;
  height: 300px;
}

/* Media Queries for Responsive Design */

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-links {
    order: 3; /* Reorder the links section to be at the bottom */
  }

  .footer-social {
    order: 2; /* Reorder the social links section to be above the links */
  }

  .map-container {
    order: 4; /* Reorder the map to be at the bottom */
  }
}
/* Existing CSS styles... */

.about-us {
  margin-bottom: 20px;
}

.about-us h3 {
  color: #FBF8BE;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.about-us p {
  color: #FBF8BE;
}

/* Media Queries for Responsive Design... */