<<<<<<< HEAD
=======
/* header.css */
>>>>>>> 3110cd7275db3fec76b5d9dbea6ea28437d3ee3b
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #102C57;
<<<<<<< HEAD
    padding: 20px ;
    
=======
    padding: 20px;
>>>>>>> 3110cd7275db3fec76b5d9dbea6ea28437d3ee3b
  }
  
  .logo img {
    height: 40px;
  }
  
<<<<<<< HEAD
  .nav-menu {
=======
  .nav-menu, .dropdown-menu {
>>>>>>> 3110cd7275db3fec76b5d9dbea6ea28437d3ee3b
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #ffffff;
<<<<<<< HEAD
    font-weight:400px;
    transition: color 0.3s ease;
  }
  
  .nav-item  a:hover {
=======
    font-weight: 400;
    transition: color 0.3s ease;
  }
  
  .nav-item a:hover {
>>>>>>> 3110cd7275db3fec76b5d9dbea6ea28437d3ee3b
    color: #fabd10;
  }
  
  .search-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 300px;
  }
  
  .search-bar button {
    background-color: #fabd10;
    color: #102C57;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
<<<<<<< HEAD
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
=======
    top: calc(100% + 5px);
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
>>>>>>> 3110cd7275db3fec76b5d9dbea6ea28437d3ee3b
    z-index: 1000;
  }
  
  .dropdown-toggle:hover + .dropdown-menu,
  .dropdown-menu:hover {
    display: block;
  }
  
<<<<<<< HEAD
  .dropdown-item a{
=======
  .dropdown-item a {
>>>>>>> 3110cd7275db3fec76b5d9dbea6ea28437d3ee3b
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
  }
<<<<<<< HEAD
   .dropdown-menu a {
    text-decoration: none;
    color: black;
    font-weight:400px;
    transition: color 0.3s ease;
  }
=======
  
  .dropdown-menu a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    transition: color 0.3s ease;
  }
  
>>>>>>> 3110cd7275db3fec76b5d9dbea6ea28437d3ee3b
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  
<<<<<<< HEAD
  
  .account-links a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 20px;
  }
  .account-links a:hover{
    color: #fabd10;
  }
  
  .shopping-cart a{
    margin-right: 20px;
    color: #f0f0f0;
  }
  .User a{
    color: #f0f0f0;
  }
  
  .User .dropdown-menu li a{
    color: #102C57;
  }
  
  .User .dropdown-menu li a:hover{
    color: #fabd10;
  }
  .heart a{
    color: #f0f0f0;
  }
  .Phone a{
    color: #f0f0f0;
  }
  
  .language-selector select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  .shopping-cart {
    position: relative;
    display: inline-block; /* Ensures proper positioning of the dropdown */
  }
  
  .shopping-cart .user-icon {
    color: #333;
    font-size: 24px;
  }
  
  .shopping-cart .cart-dropdown {
    position: absolute;
    top: calc(100% + 5px); /* Position below the user icon */
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
  }
  
  .shopping-cart:hover .cart-dropdown {
    display: block;
  }
  
  .cart-dropdown a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .cart-dropdown a:hover {
    background-color: #f5f5f5;
  }
=======
  .icons {
    display: flex;
  }
  
  .icon {
    margin-right: 20px;
  }
  
  .icon:last-child {
    margin-right: 0;
  }
  
  .icon a {
    color: #f0f0f0;
  }
  
  .icon.dropdown .dropdown-menu li a {
    color: #102C57;
  }
  
  .icon.dropdown .dropdown-menu li a:hover {
    color: #fabd10;
  }
  
>>>>>>> 3110cd7275db3fec76b5d9dbea6ea28437d3ee3b
